body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;
    color: #777777;
    background-image: url("../images/criss-cross.png");
    margin: 0px;
    /* margin-bottom 60px is reserved for footer area */
    margin-bottom: 60px;
}

h1 { 
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4AAAA5;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #4AAAA5; 
}

.topTitle{ 
    background:#4AAAA5;
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    height: 70px;
    padding: 10px;
}

.portfolioPhotoCaption{
    top: 75%;
    width: 100%;
    padding: 3px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4AAAA5;
    text-align: center;
    position: absolute;
}

/* If screen size is 768 or larger, 2 columns for photos. */
.card-columns {
    column-count: 2;
}

/* If screen size is 768px or larger, align text right.*/
.links { 
    text-align: right;
}

.containerOutsideHeader { 
    background: white;
    border-bottom: 2px solid #cccccc;
    padding: 0px;
}

/* If screen size is smaller than 768px, */
@media screen and (max-width: 767px) {
    .containerInsideHeader { 
        max-width: 100%;
    }

    .links { 
        text-align: center;
    }
    .portfolioPhoto{
        width: 400px;
        position: relative;
    }
    .card-columns {
        column-count: 1;
    }    
}

@media screen and (min-width: 980px){
    .col-980px-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }    
}

.content { 
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid #cccccc 1px;
    line-height: 30px;
    padding: 40px;
    background: white;
}

.contentTitle { 
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 4px solid #dddddd;
    margin-bottom: 25px;
}

.button{ 
    background: #4AAAA5;
    color: white;
    border: 0 none;
    padding: 5px 20px 5px 20px;
    text-align: center;
}

footer {
    position: fixed;
    background: #666666;
    bottom: 0px;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    border-top: solid 10px #4AAAA5;
    color: #4AAAA5;
    font-size: 10px;
}